<h1>Authorise Application</h1>
<form method="post" action="authorise">
  You do not appear to have authorised the application to connect using your twitter credentials. Please click <a href="<%= @auth_url %>">here</a> to authorise the application.
</form>
