<html>
  <head>
  </head>
  <body>
    <h1>Tweet Now</h1>
    <form action="tweet" method="post">
      Tweet: <input type="text" name="tweet"/><p/>
      <input type="submit" value="Tweet Now"/>
    </form>
  </body>
</html>
